<style>
    .btn {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #cc0000;
    }

</style>

<form method="post" action="{{ path('app_todo_delete', {'id': todo.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette action ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todo.id) }}">
    <button class="btn">Supprimer</button>
</form>
