{% extends 'base.html.twig' %}

{% block title %}Modifier Action Todo{% endblock %}

{% block body %}
    <h1>Modifier Action Todo</h1>

    {{ include('todo/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_todo_index') }}">Revenir à la liste</a>

    {{ include('todo/_delete_form.html.twig') }}
{% endblock %}
